<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from new.axilthemes.com/demo/template/etrade/index-7.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 09 May 2024 11:08:14 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>eTrade || Home-07</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">

    <!-- CSS
    ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/front/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/front/assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="/front/assets/css/vendor/flaticon/flaticon.css">
    <link rel="stylesheet" href="/front/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="/front/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="/front/assets/css/vendor/jquery-ui.min.css">
    <link rel="stylesheet" href="/front/assets/css/vendor/sal.css">
    <link rel="stylesheet" href="/front/assets/css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="/front/assets/css/vendor/base.css">
    <link rel="stylesheet" href="/front/assets/css/style.min.css">

</head>


<body class="sticky-header overflow-md-visible">
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->
    <a href="#top" class="back-to-top" id="backto-top"><i class="fal fa-arrow-up"></i></a>
    <!-- Start Header -->
    <header class="header axil-header header-style-7">
        <div class="axil-header-top">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="header-top-text">
                            <p><i class="fas fa-star"></i> Free Shipping on Orders Over $150</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="header-top-link">
                            <ul class="quick-link">
                                <li><a href="about-us.html">Our Story</a></li>
                                <li><a href="contact-us.html">Contact</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="blog.html">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Mainmenu Area  -->
        <div id="axil-sticky-placeholder"></div>
        <div class="axil-mainmenu">
            <div class="container-fluid">
                <div class="header-navbar">
                    <div class="header-brand">
                        <a href="index.html" class="logo logo-dark">
                            <img src="assets/images/logo/logo.png" alt="Site Logo">
                        </a>
                        <a href="index.html" class="logo logo-light">
                            <img src="assets/images/logo/logo-light.png" alt="Site Logo">
                        </a>
                    </div>
                    <div class="header-main-nav">
                        <nav class="mainmenu-nav">
                            <button class="mobile-close-btn mobile-nav-toggler"><i class="fas fa-times"></i></button>
                            <div class="mobile-nav-brand">
                                <a href="index.html" class="logo">
                                    <img src="assets/images/logo/logo.png" alt="Site Logo">
                                </a>
                            </div>
                            
                            <ul class="mainmenu">
                                <% if (typeof isHomePage !== 'undefined' && isHomePage) { %>
                                <li class="dropdown">
                                  <a class="dropdown-toggle" href="" role="button" id="dropdown-header-menu" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="far fa-th-large"></i> Categories
                                  </a>
                                  <ul class="dropdown-menu" aria-labelledby="dropdown-header-menu">
                                   
                                      <% category_data.forEach(function(c_data){ %>
                                        <li><a class="dropdown-item" href="/front/shop/<%= c_data._id %>"><%= c_data.name %></a></li>
                                      <% }) %>
                                    
                                  </ul>
                                </li>
                                <% } else { %>
                                    <!-- Optional: Message or alternative content when not on home page -->
                                  <% } %>
                                  <li>
                                    <a href="/front/index"><i class="far fa-bags-shopping"></i> Home</a>
                                  </li>  
                                <li>
                                  <a href="/front/shop"><i class="far fa-bags-shopping"></i> Shop</a>
                                </li>
                                <li>
                                  <a href="shop-sidebar.html"><i class="far fa-badge-percent"></i> Deals</a>
                                </li>
                                <li>
                                  <a href="contact.html"><i class="far fa-headset"></i> Support</a>
                                </li>
                              </ul>
                              
                        </nav>
                    </div>
                    <div class="header-action">
                        <ul class="action-list">
                            <li class="axil-search d-none-laptop">
                                <input type="search" class="placeholder product-search-input" name="search2" id="search2" value="" maxlength="128" placeholder="Search" autocomplete="off">
                                <button type="submit" class="icon wooc-btn-search">
                                    <i class="far fa-search"></i>
                                </button>
                            </li>
                            <li class="axil-search d-none-desktop">
                                <a href="javascript:void(0)" class="header-search-icon" title="Search">
                                    <i class="far fa-search"></i>
                                </a>
                            </li>
                            <li class="shopping-cart">
                                <a href="/front/cart" class="">
                                    <span class="cart-count"><%=cart_count%></span>
                                    <i class="far fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li class="wishlist">
                                <a href="wishlist.html">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                            <li class="my-account">
                                <a href="/front/login">
                                    <i class="far fa-user"></i>
                                </a>
                            </li>
                            <li class="axil-mobile-toggle">
                                <button class="menu-btn mobile-nav-toggler">
                                    <i class="flaticon-menu-2"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Mainmenu Area -->
    </header>
    <!-- End Header -->
